.icon {
    width: 35px;
    height: 35px;
    margin-left: -120px;
}


.header {
    display: flex;
    border: none;
    padding: 40px 20px 0px 150px;
    opacity: 0.9;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    transition: 0.5s;
    width: 100%;
    z-index: 100;
}

nav{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center
}

header.rolagem{
    background-color: #2B4739;
    padding: 10px 20px 0px 150px;
    opacity: 0.9;
}

header.rolagem a, header.rolagem .icon{
    color: #F6EFDD;
}


