.sobre-nos {
    padding-top: 30px;
    padding-bottom: 80px;
    margin-left: 60px;
    margin-right: 60px;
}

article {
    position: relative;
    width: 600px;
    height: 500px;
    background: #fff;
}

article iframe {
    display: inline-block;
    margin: 20px 50px 20px 200px;
    width: 900px;
    height: 500px;
}