.subtitle {
    font-size: 18px;
    font-family: "Marcellus SC", serif;
    text-shadow: 2px 4px 13px #000;
    color: #F6EFDD;
    opacity: 0.4;
}


.contact {
    font-size: 18px;
    font-family: "Marcellus SC", serif;
    text-shadow: 2px 4px 13px #000;
    color: #F6EFDD;
    opacity: 0.4;
}
    