.text-home {
    text-align: center;
    background-color: #3a4042;
    width: 900px;
    height: 300px;
    opacity: 0.8;
    margin-left: 210px;
}

.text-home span {
    font-family: "Marcellus SC", serif;
    position: relative;
}

.text-home span::before{
    content: "";
    color: #000;
    animation: changes 20s infinite;
}

.text-home span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #000;
    right: -10px;
    animation: cursor 0.8s infinite, type 20s steps(8) infinite;
    width: calc(100% + 10px);
    background-color: #3a4042;
}

@keyframes type {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 10px);
    }
}

@keyframes cursor {
    0%{
        border-left: 2px solid #000;
    }
}

@keyframes changes{
    0%, 20%{
        content: "momento";
    }
    21%, 40%{
        content: "ambiente";
    }
    41%, 60%{
        content: "espaço";
    }
    61%, 80%{
        content: "projeto";
    }
    81%, 100%{
        content: "lar :)";
    }
}

.slogan-top1 {
    margin-top: 120px;
    font-family: "Marcellus SC", serif;
    font-size: 35px;
    font-weight: 800;
    padding-top: 90px;
    padding-bottom: 0px;
    color: #F6EFDD;
}

.slogan-top2 {
    margin-top: 10px;
    font-family: "Marcellus SC", serif;
    font-size: 35px;
    font-weight: 800;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #F6EFDD;
}


p.-second {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 18px;
}

.box-list {
    text-align: center;
    background-color: #3a4042;
    width: 900px;
    height: 300px;
    opacity: 0.8;
    margin-left: 210px;
    margin-top: 100px;
    border-radius:0px 20px 20px 20px ;
}


.dt-mid {
    font-family: "Marcellus SC", serif;
    font-size: 25px;
    font-weight: 800;
    padding-top: 25px;
    padding-bottom: 30px;
    color: #F6EFDD;
}

.dd-mid {
    font-family: "Marcellus SC", serif;
    font-size: 15px;
    font-weight: 200;
    padding-top: 25px;
    color: #F6EFDD;
}

.box-materials {
    text-align: center;
    background-color: #3a4042;
    width: 900px;
    height: 300px;
    opacity: 0.8;
    margin-left: 210px;
    margin-top: 100px;
    border-radius:0px 20px 20px 20px ;
}

.description {
    display:flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    font-family: "Marcellus SC", serif;
    font-size: 17px;
    font-weight: 200;
    padding-top: 30px;
    color: #F6EFDD;
}

.description-color {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    line-height: 25px;
    display:flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    font-family: "Marcellus SC", serif;
    font-size: 17px;
    font-weight: 200;
    color: #3a4042;
}

.black-bold {
    font-size: 20px;
    font-weight: bold;
    color: #2B4739;
}