.title {
    font-family: "Marcellus SC", serif;
    font-size: 40px;
    color: #F6EFDD;
    text-shadow: 2px 4px 13px #000;
    opacity: 0.4;
    padding-top: 80px;
}

.title.-second {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    padding: 0px;
    opacity: none;
    text-shadow: none;
    text-align: center;
    color: #2B4739; 
}

.title-products {
    font-size: 50px;
    font-family: "Marcellus SC", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    opacity: none;
    text-shadow: none;
    text-align: center;
    color: #F6EFDD; 
}

.title-mid{
    font-family: "Marcellus SC", serif;
        font-size: 30px;
        color: #F6EFDD;
        text-shadow: 2px 4px 13px #000;
        opacity: 0.4;
        padding-top: 30px;
    }


.title-products {
    font-size: 50px;
    font-family: "Marcellus SC", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    opacity: none;
    text-shadow: none;
    text-align: center;
    color: #F6EFDD; 
}

.title-materials {
    font-size: 50px;
    font-family: "Marcellus SC", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    opacity: none;
    text-shadow: none;
    text-align: center;
    color: #F6EFDD; 
}

.colors {
    font-size: 50px;
    font-family: "Marcellus SC", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    opacity: none;
    text-shadow: none;
    text-align: center;
    color: #2B4739; 
}


.texture {
    font-size: 50px;
    font-family: "Marcellus SC", serif;
    margin-top:100px;
    margin-bottom: 50px;
    padding: 0px;
    opacity: none;
    text-shadow: none;
    text-align: center;
    color: #2B4739; 
}

.title-service {
    font-size: 50px;
    font-family: "Marcellus SC", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    opacity: none;
    text-shadow: none;
    text-align: center;
    color: #F6EFDD; 
}